<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sc.testdemo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="TestDemo"
        android:name="com.sc.utils.App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecordCountActivity"
                   android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContentActivity"/>
        <activity android:name=".NetActivity"/>
        <activity android:name=".ScanActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"></activity>
        <activity android:name=".FunctionActivity"/>
        <service android:name=".PushSmsService"></service>
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>